*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #809966;
    text-align: center;
}
/* h1{
    margin: 1rem;
    padding: 1rem;
} */
.container{
    height: 70vh;
    display: flex;
justify-content: center;
align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box{
    height: 18vmin;
    width:  18vmin;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 1.5rem;
    font-size: 5em;
    color: #4b024b;
    background-color: aliceblue;
    cursor: pointer;
}
.box:hover{
    background-color: #abe7d1;
  color: white;
}
#resetBtn{
    padding: 1.5rem;
    font-size: 1.25rem;
    border-radius: 1.5rem;
    color: #f5edf5;
    box-shadow: 1.5rem;
    border: none;
    background-color: rgb(49, 49, 49);
    cursor: pointer;


}
#message{
    color: #eeeedd;
    font-size: 6vmin;
}

.msg-container{
    height: 15vmin;
}
#new-game{
    padding: 1.5rem;
    font-size: 1.25rem;
    border-radius: 1.5rem;
    color: #f5edf5;
    box-shadow: 1.5rem;
    border: none;
    background-color: rgb(49, 49, 49);
}

#resetBtn:hover{
    background-color: #abe7d1;
    color: white;
}
